$font-title : Font
$font-text : 'Roboto', sans-serif

@font-face 
    font-family: Font
    src: url("./MADE Canvas Light PERSONAL USE.otf")

html, body , #root
    height: 100%    
*
    margin: 0
    padding: 0
    border: 0
    box-sizing: border-box
    font-family: $font-title


